<%= form_tag({controller: 'github', action: 'home'}, method: 'get', class: 'pa3') do %>
  <div class="measure">
    <%= hidden_field_tag :page, 1 %>
    <%= label_tag :query, 'Search term:',
          class: 'f6 b db mb2'
    %>

    <div class="flex">
      <%= text_field_tag :query, params[:query],
            class: 'input-reset ba b--black-20 pa2 mb2 db w-100'
      %>
      <%= submit_tag "Search",
            class: 'button-reset ph3 pv2 ba b--black white bg-mid-gray pointer f6 dib'
      %>
    </div>
  </div>
<% end %>

<% if @repos.present? && @repos.body.items.empty? %>
  <p class="i ph2">
    No results for "<span class="b"><%= permitted_params[:query] %>"</span>
  </p>

<% elsif @repos.present? %>
  <ol class="list ph2">
    <% @repos.body.items.each do |repo| %>
      <li class="flex pb3 mb3 bb b--light-silver">

        <img src="<%= repo.owner.avatar_url %>" width="50" height="50">

        <div class="ml3 flex-auto">
          <p class="fr ma0"><%= repo.language %></p>

          <h3 class="f4 mt0 mb2">
            <a href="<%= repo.html_url %>">
              <%= repo.full_name %>
            </a>
          </h3>

          <p class="mv2"><%= repo.description %></p>

          <div>
            <dl class="f6 lh-title mv2 dib mr2">
              <dt class="dib b">Stars:</dt>
              <dd class="dib ml0 gray">
                <%= number_with_delimiter repo.stargazers_count %>
              </dd>
            </dl>
            <dl class="f6 lh-title mv2 dib">
              <dt class="dib b">Forks:</dt>
              <dd class="dib ml0 gray">
                <%= number_with_delimiter repo.forks_count %>
              </dd>
            </dl>
          </div>
        </div>

      </li>
    <% end %>
  </ol>

  <div class="flex justify-center mv2">

    <% if current_page_num > 1 %>
      <a href="<%= url_for permitted_params.merge(page: prev_page_num) %>" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box mr2">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1">Previous</span>
      </a>
    <% end %>

    <% if @repos.has_next_page? %>
      <a href="<%= url_for permitted_params.merge(page: next_page_num) %>" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box">
        <span class="pr1">Next</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
    <% end %>

  </div>
<% end %>
