<!DOCTYPE html>
<html>
<head>
<title>RailsGithubSearch</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="sans-serif helvetica">
  <main class="mw7 pa3 center">
    <nav class="flex items-baseline">
      <h1 class="black f5 mr3 dib flex-auto">Github Search</h1>
      <div>
        <% if logged_in? %>
          <span class="f6 light-silver i mr3">
            Hello <%= current_user['name'] %>
          </span>
          <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-mid-gray"
            href="<%= logout_path %>"
            title="Logout"
          >
            Logout
          </a>
        <% else %>
          <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-mid-gray"
            href="<%= login_path %>"
            title="Login"
          >
            Login
          </a>
        <% end %>
      </div>
    </nav>

    <%= yield %>

  </main>
</body>
</html>
